@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .gradient {
    color: #0f0c9c;
    background-image: -webkit-linear-gradient(
      135deg,
      #0f0c9c 0%,
      #f141fa 43%,
      #ffe9a6 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }
}
